/*author:huhaitong
date:2017-8-2*/
.text-over {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.flex-box {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.flex1 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}
.clearfix {
	
}
.clearfix:before,
.clearfix:after {
	display: table;
  content: " ";
}
.clearfix:after {
	clear: both;
}
/*index*/
.index-title,
.index-bottom {
	position: absolute;
	width: 100%;
	z-index: 9;
}
.index-title {
	top: 18.3%;
}
.index-title img,
.index-bottom img{
	display: block;
	width: 58.8%;
	margin: 0 auto;
}
.index-bottom {
	bottom: 3%;
}
.index-bottom img {
	width: 59.27%;	
}


/*index end*/
.manu-box-r {
	width: 2.49rem;
	position: absolute;
	right: 1.067rem;
	top: 1.3rem;
	z-index: 999;
}
.collapse{
	transition: all 0.4s ease;
	overflow: hidden;
	height: 20.28rem;
}
.collapse-hide{
	height: 0;
}
.manu-box-r >img,
.manu-box-r >div>img,
.manu-box-r >div>a,
.manu-box-r >div>a img{
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 0.889rem;
	/*margin-bottom: 0.4rem;*/
}
.manu-box-r >div>a img {
	margin-bottom: 0;
}
.manu-box-r >img:first-child {
	width: 1.78rem;
	margin: 0 auto 1.3rem;
}
.manu-left {
	display: block;
	width: 3.556rem;
	height:3.556rem;
	position: absolute;
	left: 0.889rem;
	bottom: 1.215rem;
	z-index: 999;
}
.pano-box{
	position: absolute;
	width: 100%;
	top:19.38%;
	z-index: 999;
	 /*transform: scale(0.01) translate3d(-50px, -350px, 0px);*/
	/*transform: translate3d(-700px,0,0);*/
}
.pano-box >div{
	width: 24.7rem;
	height: 24.7rem;
	margin: 0 auto;
	background: rgba(255,255,255,.5);
	background-clip: content-box;
	border-radius: 50%;
	border: 1.126rem solid rgba(255,255,255,.22);
	
}
.pano-ls{
	position: relative;
	height: 100%;
	padding: 0.5rem;
	padding-top: 12.3rem;
	box-sizing: border-box;
}
.pano-ls>li{
	/*width: 12.35rem;*/
	/*width: 100%;*/
	width: 23.7rem;
	height: 1px;
	position: absolute;
}
.pano-ls>li a{
	position: relative;
	display: block;
	width: 3.7rem;
	height: 3.7rem;
	z-index: 9;
	margin-top: -1.85rem;
}
.pano-ls>li img{
	/*color: #fff;*/
	/*font-size: 0.5rem;*/
	width: 3.7rem;
	height: 3.7rem;
	/*background: #41c1fc;*/
	/*border-radius: 50%;*/
}
.pano-ls>li:nth-child(2){
	transform: rotate(30deg);
}
.pano-ls>li:nth-child(2) img{
	transform: rotate(-30deg);
}
.pano-ls>li:nth-child(3){
	transform: rotate(60deg);
}
.pano-ls>li:nth-child(3) img{
	transform: rotate(-60deg);
}
.pano-ls>li:nth-child(4){
	transform: rotate(90deg);
}
.pano-ls>li:nth-child(4) img{
	transform: rotate(-90deg);
}
.pano-ls>li:nth-child(5){
	transform: rotate(120deg);
}
.pano-ls>li:nth-child(5) img{
	transform: rotate(-120deg);
}
.pano-ls>li:nth-child(6){
	transform: rotate(150deg);
}
.pano-ls>li:nth-child(6) img{
	transform: rotate(-150deg);
}
.pano-ls>li:nth-child(7){
	transform: rotate(180deg);
}
.pano-ls>li:nth-child(7) img{
	transform: rotate(-180deg);
}
.pano-ls>li:nth-child(8){
	transform: rotate(210deg);
}
.pano-ls>li:nth-child(8) img{
	transform: rotate(-210deg);
}
.pano-ls>li:nth-child(9){
	transform: rotate(240deg);
}
.pano-ls>li:nth-child(9) img{
	transform: rotate(-240deg);
}
.pano-ls>li:nth-child(10){
	transform: rotate(270deg);
}
.pano-ls>li:nth-child(10) img{
	transform: rotate(-270deg);
}
.pano-ls>li:nth-child(11){
	transform: rotate(300deg);
}
.pano-ls>li:nth-child(11) img{
	transform: rotate(-300deg);
}
.pano-ls>li:nth-child(12){
	transform: rotate(330deg);
}
.pano-ls>li:nth-child(12) img{
	transform: rotate(-330deg);
}
.pano-ls .tips{
	text-align: center;
	font-size:2.13rem ;
	color: #444a59;
	line-height: 3.7rem;
}

.manu-ls-box {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99999;
}
.manu-ls-top {
	position: absolute;
	width: 100%;
	height: 23.4%;
	top: 4.7%;
	box-sizing: border-box;
}
.manu-ls-top img{
	display: block;
	width: auto;
	max-width: 58.2%;
	height: 64%;
	margin: 0 auto 0;
}
.manu-page-list-box {
	position: absolute;
	width: 100%;
	top: 27.7%;
	height: 54.4%;
	/*overflow: auto;*/
}
.manu-page-list {
	width: 27.378rem;
	margin: 0 auto;
	/*flex-wrap:wrap-reverse*/
}
.manu-page-list>li{
	margin-bottom: 2.6rem;
}
.manu-page-list>li:nth-child(4n) {
	margin-right: 0;
}
.img-radius-box {
	border-radius: 50%;
	border: 0.08rem solid #e5ebf6;
	overflow: hidden;
	width: 5.511rem;
	height: 5.511rem;
	margin: 0 auto;
	background-clip: content-box;
}
.img-radius-box> img{
	display: block;
	width: 100%;
	height: auto;
    background-clip: content-box;
}
.manu-name {
	text-align: center;
	font-size: 0.75rem;
	color: #fff;
	margin-top: 1.3rem;
}
.manu-page-list .active .manu-name {
	color: #5293fa;
}
.manu-page-list .active .img-radius-box{
	border: 0.08rem solid #5293fa;
}

.manu-ls-bottom {
	position: absolute;
	width: 100%;
	bottom: 3.4%;
}
.manu-ls-bottom img{
	display: block;
	width: 59.3%;
	height: auto;
	margin: 0 auto;
}




/*animation*/

.manu-left-hide-animation {
		/*-webkit-animation:manu-left-hide 1s ease 1 alternate forwards;
		animation:manu-left-hide 1s ease 1 alternate forwards;*/
		display: none
	}
.manu-left-show-animation {
		/*-webkit-animation:manu-left-show 1.5s ease  forwards;
		animation:manu-left-show 1.5s ease  forwards;*/
		display: block;
	}
.manu-left-hide-first {
	/*-webkit-animation:manu-left-hide-first 0 linear forwards;
		animation:manu-left-hide-first 0 linear forwards;*/
		display: none
}
@keyframes manu-left-hide-first{
	0% {
	   opacity: 0;
	    -webkit-transform: scale(0.01) translate3d(-1000px, 3200px, 0px);
	    -webkit-transform-origin: left top 0;
	    transform: scale(0.01) translate3d(-1600px, 32000px, 0px);
	    transform-origin: left top 0;
	}
	100% {
	    opacity: 0;
	    -webkit-transform: scale(0.01) translate3d(-1000px, 3200px, 0px);
	    -webkit-transform-origin: left top 0;
	    transform: scale(0.01) translate3d(-1000px, 3200px, 0px);
	    transform-origin: left top 0;
	}
}
@keyframes manu-left-hide{
	40% {
	    opacity: 0.6;
	    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 300px, 0px);
	    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 300px, 0px);
	}
	100% {
	    opacity: 0;
	    -webkit-transform: scale(0.01) translate3d(-600px, 4000, 0px);
	    -webkit-transform-origin: left top 0;
	    transform: scale(0.01) translate3d(-600px,4000px, 0px);
	    transform-origin: left top 0;
	}
}
@keyframes manu-left-show{
	from {
		opacity: 0;
	    -webkit-transform: scale(0.01) translate3d(-1000px, 5000px, 0px);
	    -webkit-transform-origin: left top 0;
	    transform: scale(0.01) translate3d(-1000px, 5000px, 0px);
	    transform-origin: left top 0;
	}
	60% {
	    opacity: .4;
	    -webkit-transform: scale3d(0.375, 0.375, 0.375) translate3d(0px, 1000px, 0px);
	    transform: scale3d(0.375, 0.375, 0.375) translate3d(0px, 1000px, 0px);
	}
	100% {
	    opacity: 1;
	    -webkit-transform: scale(1) translate3d(0px, 0px, 0px);
	    -webkit-transform-origin: left top 0;
	    transform: scale(1) translate3d(0px, 0px, 0px);
	    transform-origin: left top 0;
	}
}

/*modal*/
.modal-box {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	z-index: 1000;
	display: none;
	/*transform: translateX(600px);
	transition: all ease-in 0.6s;*/
}
.modal-show {
	transform: translateX(0);
}
.modal-b-content {
	width: 90%;
	background: #fff;
	border-radius: 0.65rem;
	margin: 10rem auto 0;
}
.modal-head {
	position: relative;
	height: 4.24rem;
	text-align: center;
	color: #333333;
	font-size: 1.1rem;
	font-weight: bold;
	line-height: 4.24rem;
	/*background:linear-gradient(to bottom,#c8cbd0,#cfd0d2) ;*/
	background:#cbcdcf ;
	border-top-right-radius:0.65rem ;
	border-top-left-radius:0.65rem ;
}
.close-modal{
	width: 1.09rem;
	height: 1.09rem;
	position: absolute;
	top: 1.719rem;
	right: 1.48rem;
}
.modal-inf-box {
	padding: 3.11rem 2.04rem 3.55rem;
}
.modal-inf-box p{
	color: #333;
	font-size: 1.18rem;
	line-height: 1.77rem;
}




/*media*/

@media screen and (device-width: 320px) {
	.pano-box >div{
		width: 21.7rem;
		height: 21.7rem;
		margin: 0 auto;
		background: rgba(255,255,255,.5);
		background-clip: content-box;
		border-radius: 50%;
		border: 1.126rem solid rgba(255,255,255,.22);
	
	}
	.pano-ls {
		padding: 10.8rem 0.5rem 0;
	}
	.pano-ls>li{
		/*width: 12.35rem;*/
		width: 100%;
		width: 20.7rem;
		position: absolute;
	}
	.manu-page-list {
		width: 25.5rem;
	}
	.img-radius-box {
		width: 4.5rem;
		height: 4.5rem;
	}
	.manu-page-list .active .manu-name {
		font-size: 0.75rem;
	}
	.manu-name {
		margin-top: 0.5rem;
	}
	.manu-page-list>li {
		margin-bottom: 1rem;
	}
}
@media screen and (device-width: 320px) and (device-height: 480px) {
	.modal-b-content {
		margin-top: 6rem;
	}
	.manu-page-list-box {
		height: 58.4%;
	}
}